*header
{display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
    color: black;
    padding: 10px 20px;
}
.container
{
    max-width:500px ;
    margin: 20px;
    padding: 20px;
    background-color: bisque;
    border-radius: 6ox;
}
